{
  "env": {
    "client": {
      "presets": ["@babel/env", "@babel/preset-react", "@babel/stage-3"],
      "plugins": [
        "syntax-optional-chaining",
        "react-hot-loader/babel",
        ["pre-style", { "config": "prestyle.js" }]
      ]
    }
  }
}
